<?xml version="1.0" encoding="UTF-8"?>
<launch>

<include file="$(find moveit_object_handling)/launch/gazebo_object_recognition.launch"/>

<include file="$(find sim_tiago_kitchen)/launch/tiago_navigation.launch"/>

<!--include file="$(find sim_tiago_kitchen)/launch/pick_and_place.launch"/-->

</launch>